[Unit]
Description=vmfetch timer
Documentation=https://github.com/vmstio/vmcrawl

[Timer]
# Run one hour after system boot
OnBootSec=1h

# Run every hour thereafter
OnUnitActiveSec=1h

# If the system was off when a run was scheduled, run it immediately on boot
Persistent=false

[Install]
WantedBy=timers.target
